/* productlistitem.css */

.ProductListItem {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px; 
    padding: 16px; 
    background-color: #fff; 
    font-family: Arial, sans-serif; 
    font-size: 16px; 
    text-align: center; 
    height: 100px;
    width: 140px;
  }
  
  .ProductListItem:hover {
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2); 
  }
  