input{
    width: 40%;
    height: 100px;
    width: 200px;
}

select{
    width: 80px;
    height: 20px
}

table {
    display: grid;
    grid-template-columns: repeat(auto-fill, 140px);
    gap: 16px;
}
table td {
    padding: 16px;
    border: 1px solid #ccc
}