.reviewInput{
    width: 40%;
    height: 100px;
    width: 200px;
}

select{
    width: 80px;
    height: 20px
}

table.review-table {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(140px, 1fr)); /* Adjust minmax values as needed */
    gap: 16px;
    width: 100%; 
  }
  
table td {
    padding: 16px;
    border: 1px solid #ccc;
}

.rating {
    color: black;
    font-weight: bold;
    font-size: 20px;
}
