/* Search bar container */
.search-bar {
    display: flex;
    align-items: center;
    background: #f7f7f7;
    border-radius: 30px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    padding: 10px 20px;
    transition: background-color 0.3s, box-shadow 0.3s;
  }
  
  .search-bar:hover {
    background: #e7e7e7;
  }
  
  /* Input field */
  .search-bar input[type="text"] {
    flex: 1;
    padding: 10px;
    border: none;
    border-radius: 30px;
    font-size: 16px;
    outline: none;
    background: transparent;
  }
  
  /* Search button */
  .search-bar .btn-primary {
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    padding: 10px 20px;
    font-size: 16px;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .search-bar .btn-primary:hover {
    background-color: #2674b4;
  }
  
  