.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background: linear-gradient(to bottom, #333, #494949);
}

.navbar-brand {
  color: white;
  margin: 0 1rem;
  transition: color 0.3s; 
}

.navbar-brand:hover {
  color: #dcdcdc; 
  text-decoration: none !important; 
}

.navbar-brand.active {
  font-weight: bold;
}

span {
  color: #dcdcdc;
  margin-right: 1rem;
}

.navbar a:last-child:hover {
  text-decoration: underline;
}
