.filter-options {
    position: fixed;
    top: 70px; 
    left: 0;
    width: 150px; 
    height: 100%; 
    background-color: #100909; 
    padding: 10px;
    overflow-y: auto; 
    box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.2); 
  }