/* body {
  font-family: 'Your Preferred Font', Arial, sans-serif;
  background-color: white;
  color: black;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  margin: 0;
}

.main-content {
  text-align: center;
  margin: 20px;
}

h1, h2, h3 {
  color: #61dafb;
  font-weight: bold;
  text-align: center;
}

a {
  color: #61dafb;
  text-decoration: none;
  transition: color 0.3s;
  text-align: center;
}

a:hover {
  color: #2674b4;
  text-decoration: underline;
}

button {
  background-color: #61dafb;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

button:hover {
  background-color: #2674b4;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  animation: App-logo-spin infinite 20s linear;
  text-align: center;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App-header {
  background-color: #555;
  padding: 20px;
  text-align: center;
} */

h1, h2, h3 {
  color: #0b0f10;
  font-weight: bold;
  text-align: center;
  padding: 30px;
  margin: 10px;
}
body {
  /* Linear gradient from dark gray at the top to light gray at the bottom */
  background: linear-gradient(to bottom, #333, #e5e5e5);
  min-height: 100vh;
}