
.checkout-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20vh; 
  }

  .checkout-cart {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-radius: 8px; 
    text-align: center;  
    height: 100px;
    width: 70%;
    background-color: #fff;
    color: black;
  }
